nav#breadcrumb(data-ng-controller="breadcrumbController")
    select.form-control(name="Study", ng-model="current_study")
        option(value="") Current Study
        option(ng-repeat="study in studies", value="{{study}}") {{study}}
    select.form-control(name="Group", ng-model="current_group")
        option(value="") Current Group
        option(ng-repeat="group in groups", value="{{group}}") {{group}}
    select.form-control(name="Patient", ng-model="current_patient")
        option(value="") Current Patient
        option(ng-repeat="patient in patients", value="{{patient}}") {{patient}}
