div#scripts
    //AngularJS
    script(type='text/javascript', src='/lib/angular/angular.js')
    script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.min.js')
    script(type='text/javascript', src='/lib/angular-resource/angular-resource.min.js')

    //Angular UI
    script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.min.js')
    script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(type='text/javascript', src='/lib/angular-ui-router/release/angular-ui-router.min.js')

    //Application Init
    script(type='text/javascript', src='/js/app.js')
    script(type='text/javascript', src='/js/routes.js')
    script(type='text/javascript', src='/js/directives.js')
    script(type='text/javascript', src='/js/filters.js')

    //Application Services
    script(type='text/javascript', src='/js/services/authentication.js')
    script(type='text/javascript', src='/js/services/Current.js')

    //Application Controllers
    script(type='text/javascript', src='/js/controllers/header.js')
    script(type='text/javascript', src='/js/controllers/breadcrumb.js')
    script(type='text/javascript', src='/js/controllers/sidebar.js')
    script(type='text/javascript', src='/js/controllers/subject-search.js')

    // View Controllers
    script(type='text/javascript', src='/js/controllers/register.js')
    script(type='text/javascript', src='/js/controllers/index.js')
    script(type='text/javascript', src='/js/init.js')
    script(type='text/javascript', src='/js/controllers/subject-info.js')
    script(type='text/javascript', src='/js/controllers/group-info.js')
    script(type='text/javascript', src='/js/controllers/reports.js')
    script(type='text/javascript', src='/js/controllers/study-info.js')
    script(type='text/javascript', src='/js/controllers/subject-status.js')
    script(type='text/javascript', src='/js/controllers/subject-select.js')
    script(type='text/javascript', src='/js/controllers/subject-setup.js')
    script(type='text/javascript', src='/js/controllers/subject-search.js')
    <script type="text/javascript" src="/js/controllers/angular-fusioncharts.min.js"></script>

    if (process.env.NODE_ENV == 'development')
        //Livereload script rendered 
        script(type='text/javascript', src='http://localhost:35729/livereload.js')
