nav#sidebar(data-ng-controller="sidebarCtrl")
    button(ui-sref="home") Dashboard
    button(ui-sref="subject-status") Record Status
    button(ui-sref="subject-register") Subject Registration 
    button(ui-sref="subject-setup") Subject Enrollment
    button(ui-sref="subject-select") Search Records
    button(ui-sref="calendar") Calendar
    button(ui-sref="reports") Reports
    button(ui-sref="search") Search
