section.sidebar(ng-controller="sidebarCtl")
    nav
        ul.section-tabs
            li Current Study
            li
                button(class="btn btn-transparent btn-block",data-toggle="button", ui-sref="home")
                    div.row
                        div(class
