section.sidebar(ng-controller="sidebarCtl")
    nav#dashboard
        button(ui-sref="home") Dashboard
        button(ui-sref="subject-status") Record Status
        button(ui-sref="subject-select") Search Records
        button(ui-sref="enrollment") New Enrollment
        button(ui-sref="calendar") Calendar
        button(ui-sref="reports") Reports
