<section data-ng-controller="reportController" class="content">
  
  <h3>Report</h3>
  <div class="well" style="height:75vh; overflow-y:scroll">
    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>Subject ID</th>
    			<th>Study Name</th>
    			<th>Group Name</th>
    			<th>Phone Number</th>
          <th>Reader ID</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th ng-repeat="ingestion in ingestions">{{ingestion}}</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr ng-repeat="subject in subjects">
    			<td><button class="btn" style="background:transparent" ui-sref="subject-info">{{subject.subjectID}}</button></td>
    			<td>{{subject.studyName}}</td>
    			<td>{{subject.studyGroupName}}</td>
    			<td>{{subject.areaCode}}-{{subject.phonenumber}}</td>
          <td>{{subject.readerID}}</td>
          <td>{{subject.startDate}}</td>
          <td>{{subject.endDate}}</td>
          <td>{{subject.ingestion1}}</td>
          <td>{{subject.ingestion2}}</td>
          <td>{{subject.ingestion3}}</td>
          <td>{{subject.ingestion4}}</td>
          <td>{{subject.ingestion5}}</td>
          <td>{{subject.ingestion6}}</td>
    		</tr>
   <!--Sample Data-->
    	</tbody>
    </table>
  </div>
</section>