<div id="todo" class="container-fluid" data-ng-controller="SubjectInfoController" class="content">
    <h1 class="text-center">{{information.firstname}} {{information.middlename}} {{information.lastname}}</h1>

    <!-- Display Non-editing information page -->
    <div class="row" ng-show="!editBool">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

          <!-- Subject  ID -->
          <p>Subject ID: {{information.subjectID}}</p>

          <!-- Patients  Full Name -->
          <p>Full Name: {{information.firstname}} {{information.middlename}} {{information.lastname}}</p>

          <!-- Reader ID -->
          <p>Reader ID: {{information.readerID}}</p>

          <!-- Start Date -->
          <p>Start Date: {{information.startDate}}</p>

          <!-- End Date -->
          <p>End Date: {{information.endDate}}</p>

          
          <!-- layout for addresses: -->

          <!-- Display Addresses -->
          <p class="smallBreak"> Address: </p>
          <p>{{information.addressLine1}} {{information.addressLine2}}</p>
          <p>{{information.city}} , {{information.state}}. {{information.zip}}</p>

          
          <!-- layout for phone #'s: -->

          <!-- Display numbers -->
          <p class="smallBreak"> Phone: {{information.areacode1}}-{{information.phone1}} </p>
          <p> Phone 2: {{information.areacode2}}-{{information.phone2}} </p>

          <!-- layout for emergency contacts: -->

          <!-- Display header -->
          <h3> Emergency Contact Information </h3>
              
          <!-- Display the contact information -->
          <p>Name: {{information.r1firstname}} {{information.r1middleinitial}} {{information.r1lastname}}</p>
          <p> Relationship: {{information.relation1}}</p>
          <p> Phone: {{information.contact_areacode1}}-{{information.r1phone}}</p>
          
          <p class="smallBreak">Name: {{information.r2firstname}} {{information.r2middleinitial}} {{information.r2lastname}}</p>
          <p> Relationship: {{information.relation2}}</p>
          <p> Phone: {{information.contact_areacode2}}-{{information.r2phone}}</p>

          <!-- Edit column -->
          <button class="btn btn-default" type="button" ng-click="toggleEdit()">Edit</button></p>

          <!-- End of left column -->
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
          <div class="well">
                <h2 align="center">Overall Complience</h2>
                <p>An interactive pie chart goes here</p>
            </div>
            <div class="well">
                <h2 align="center">Compliences</h2>
                <p>A line graph goes here</p>
            </div>
        </div>
    </div>





      <!-- Display editing information page -->
    <div ng-show="editBool">
      <!-- Patient  ID -->
      <div class="row">
        <div class="col-sm-2">
          <!-- Subject  ID -->
          <p>Subject ID:</p>
        </div>
        <div class="col-sm-3">
          {{information.subjectID}}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <p>First Name: </p>
        </div>
        <div class="col-sm-3">
          <input type="text" ngRequired ng-model="information.firstname" class="form-control"></input>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <p>Middle Initial: </p>
        </div>
        <div class="col-sm-3">
          <input type="text" pattern=".{1}" ngRequired ng-model="information.middlename" class="form-control"></input>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <p>Last Name: </p>
        </div>
        <div class="col-sm-3">
          <input type="text" ngRequired ng-model="information.lastname" class="form-control"></input>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <p>Group: </p>
        </div>
        <div class="col-sm-3">
          <select name="groups" ng-model="information.group" class="form-control">
                <option value="Group 1">Group 1</option>
                <option value="Group 2">Group 2</option>
                <option value="Group 3">Group 3</option>
                <option value="Group 4">Group 4</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <p>Reader:</p>
        </div>
        <div class="col-sm-3">
          <select name="readers" ng-model="information.readerID" class="form-control">
                <option value="Reader 1">Reader 1</option>
                <option value="Reader 2">Reader 2</option>
                <option value="Reader 3">Reader 3</option>
                <option value="Reader 4">Reader 4</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <p>Start Date:</p>
        </div>
        <div class="col-sm-3">
          <!--<input type="text" ng-model="startDate" class="form-control"></input>-->
          <input type="date" class="form-control" uib-datepicker-popup ng-model="startDate" ng-required="false"  />
        </div>
      </div>

      <!-- Row for end date -->
      <div class="row">
        <div class="col-sm-2">
          <p>End Date:</p>
        </div>
        <div class="col-sm-3">
          <!--<input type="text" ng-model="endDate" class="form-control"></input>-->
          <input type="date" class="form-control" uib-datepicker-popup ng-model="endDate"/>
        </div>
      </div>
      </br>

      <!-- Row for Phone1 -->
      <div class="row">
        <div class="col-sm-2">
          <p>Phone:</p>
        </div>
        <div class="col-sm-1">
          <input type="number" pattern=".{3}" ngRequired class="form-control"></input>
        </div>
        <div class="col-sm-2">
          <input type="number" pattern=".{7}" ng-model="information.phone1" ngRequired class="form-control"></input>
        </div>
      </div>

      <!-- Row for Phone2 -->
      <div class="row">
        <div class="col-sm-2">
          <p>Phone2: 
          </p>
        </div>
        <div class="col-sm-1">
          <input type="number" pattern=".{3}" ng-model="information.areacode2" class="form-control"></input>
        </div>
        <div class="col-sm-2">
          <input type="number" pattern=".{7}" ng-model="information.phone2" class="form-control"></input>
        </div>
      </div>
      <br>
      <!-- Row for addresses and other details -->
      <div class="row">
        <div class="col-sm-2">
          <p> Address: </p>
          <input type="text" ngRequired ng-model="information.addressLine1" class="form-control"></input>
          
        </div>
        <div class="col-sm-2">
          <p>Address 2:</p>
          <input type="text" ngRequired ng-model="information.addressLine2" class="form-control"></input>
          
        </div>
        <div class="col-sm-3">
          <p> City: </p>
          <input type="text" ngRequired class="form-control"></input>
          
        </div>
        <div class="col-sm-2">
          <p> State: </p>
          <select name="State" ngRequired ng-model="information.state" class="form-control">
              <option value="">St</option>
              <option value="AL">AL</option>
              <option value="AK">AK</option>
              <option value="AZ">AZ</option>
              <option value="AR">AR</option>
              <option value="CA">CA</option>
              <option value="CO">CO</option>
              <option value="CT">CT</option>
              <option value="DE">DE</option>
              <option value="DC">DC</option>
              <option value="FL">FL</option>
              <option value="GA">GA</option>
              <option value="HI">HI</option>
              <option value="ID">ID</option>
              <option value="IL">IL</option>
              <option value="IN">IN</option>
              <option value="IA">IA</option>
              <option value="KS">KS</option>
              <option value="KY">KY</option>
              <option value="LA">LA</option>
              <option value="ME">ME</option>
              <option value="MD">MD</option>
              <option value="MA">MA</option>
              <option value="MI">MI</option>
              <option value="MN">MN</option>
              <option value="MS">MS</option>
              <option value="MO">MO</option>
              <option value="MT">MT</option>
              <option value="NE">NE</option>
              <option value="NV">NV</option>
              <option value="NH">NH</option>
              <option value="NJ">NJ</option>
              <option value="NM">NM</option>
              <option value="NY">NY</option>
              <option value="NC">NC</option>
              <option value="ND">ND</option>
              <option value="OH">OH</option>
              <option value="OK">OK</option>
              <option value="OR">OR</option>
              <option value="PA">PA</option>
              <option value="RI">RI</option>
              <option value="SC">SC</option>
              <option value="SD">SD</option>
              <option value="TN">TN</option>
              <option value="TX">TX</option>
              <option value="UT">UT</option>
              <option value="VT">VT</option>
              <option value="VA">VA</option>
              <option value="WA">WA</option>
              <option value="WV">WV</option>
              <option value="WI">WI</option>
              <option value="WY">WY</option>
              </select>
          
        </div>
        <div class="col-sm-2">
          <p> Zip Code: </p>
          <input type="number" pattern=".{5}" ng-model="information.zip"  ngRequired class="form-control"></input>
          
        </div>
      </div>
      </br>
      

      <!-- layout for emergency contacts: -->

          <!-- Display header -->
          <h3> Emergency Contact Information </h3>
          
      <!-- Display the contact information -->
        <div class="row">
            <div class="col-sm-2"> 
              <p>First Name: <input type="text" ngRequired ng-model="information.r1firstname" class="form-control"></input></p>
              <p>First Name: <input type="text" ngRequired ng-model="information.r2firstname" class="form-control"></input></p>
            </div>
            
            <div class="col-sm-1"> 
              <p>M.I.: <input type="text" pattern=".{1}" ng-model="information.r1middleinitial" class="form-control"></input></p>
              <p> M.I.: <input type="text" pattern=".{1}" ng-model="information.r2middleinitial" class="form-control"></input></p>
            </div>

            <div class="col-sm-2"> 
              <p>Last Name: <input type="text" ngRequired ng-model="information.r1lastname" class="form-control"></input></p>
              <p>Last Name: <input type="text" ngRequired ng-model="information.r2lastname" class="form-control"></input></p>
            </div>

            <div class="col-sm-2"> 
              <p>Relationship:<select name="Relationship" ngRequired ng-model="information.relation1" class="form-control">
              <option value="Mother">Mother</option>
              <option value="Father">Father</option>
              <option value="Sibling">Sibling</option>
              <option value="Spouse">Spouse</option>
              <option value="Other">Other</option>
              </select></p>
              <p>Relationship:<select name="Relationship2" ngRequired ng-model="information.relation2" class="form-control">
              <option value="Mother">Mother</option>
              <option value="Father">Father</option>
              <option value="Sibling">Sibling</option>
              <option value="Spouse">Spouse</option>
              <option value="Other">Other</option>
              </select></p>
            </div>
            <div class="col-sm-1"> 
              <p>Phone: <input type="number" pattern=".{3}" ng-model="information.contact_areacode1" ngRequired class="form-control"></input></p>
              <p>Phone: <input type="number" pattern=".{3}" ng-model="information.contact_areacode2" ngRequired class="form-control"></input></p>
            </div>
            <div class="col-sm-2"> 
              <br>
              <p><input type="number" pattern=".{7}" ng-model="information.r1phone" ngRequired class="form-control"></input></p>
              <br>
              <p><input type="number" pattern=".{7}" ng-model="information.r2phone" ngRequired class="form-control"></input></p>
            </div>
        </div>

      <button class="btn btn-default" type="button" ng-click="toggleEdit()">Cancel</button>
      <button class="btn btn-default" type="button" ng-click="saveEdit()">Save</button>
    <!-- End of editing div -->
    </div>
</div>