
<section data-ng-controller="Subject_Search-Controller">
  <form id="subject_select-form">
    <div class="row">
      <h4>Subject ID:</h4>
      <input type="text" ng-model="subject_id" class="form-control"/>
    </div>
    <div class="row">
      <h4>First Name:</h4>
      <input type="text" ng-model="fname" class="form-control"/>
      <h4>Last Name:</h4>
      <input type="text" ng-model="lname" class="form-control"/>
    </div>
    <input type="submit" value="Search" ng-click="search()" class="btn"/>
  </form>
  <div>
    <ul>
      <li ng-repeat="result in results" class="row"><span class="col">SubjectID: {{result.subjectID}} </span><span class="col">First Name: {{result.firstname}} </span><span class="col">Last Name: {{result.lastname}}</span></li>
    </ul>
  </div>
</section>