<section data-ng-controller="subjectSetupController" class="content">
    
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-sm-offset-3 col-xs-offset-3 col-md-offset-3 col-lg-offset-3">
            Subject ID :
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            {{subjectID}}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-sm-offset-3 col-xs-offset-3 col-md-offset-3 col-lg-offset-3">
            Subject Group :
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div>
               <select name="Title" ng-model="currentItem" class="form-control">
                <option value="">Unassigned</option>
                <option ng-repeat= "item in items" value="{{item}}">{{item}}</option>
              </select>
            </div>
        </div>
        </tr>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-sm-offset-3 col-xs-offset-3 col-md-offset-3 col-lg-offset-3">
            Phone Number :
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <input name="Area_Code1" required="" type="text" pattern=".{3}" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="###" autocomplete="off" ng-model="areacode1" class="form-control"/>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <input name="Primary_Phone" required="" type="text" pattern=".{7}" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="#######" autocomplete="off" ng-model="phone1" class="form-control"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-sm-offset-3 col-xs-offset-3 col-md-offset-3 col-lg-offset-3">
            Reader ID :
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <select ng-model="selectedReader" class="form-control">
                <option ng-repeat= "reader in readers" value="{{reader}}">{{reader}}</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row"> 
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-sm-offset-3 col-xs-offset-3 col-md-offset-3 col-lg-offset-3">
            Start Date :
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">                
            <div>
                <input type="date" class="form-control" uib-datepicker-popup ng-model="dt" ng-required="true" />
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-sm-offset-3 col-xs-offset-3 col-md-offset-3 col-lg-offset-3">
            End Date :
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div>
                  <input type="date" class="form-control" uib-datepicker-popup ng-model="end" ng-required="false" />
            </div>        
        </div>
    </div>
    <br>
<!--NOT SURE IF NEED
    <div class="well col-xs-6 col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 col-xs-offset-3 col-md-offset-3 col-lg-offset-3" style="height:25vh; overflow-y:scroll">
        <table class="table table-striped">
            <thead><tr><th>Ingestion #</th><th>Ingestion Dates</th></tr></thead>
            <tbody>
                <tr ng-repeat="ingestion in ingestions">
                    <td>
                        Ingestion {{ingestion.num}}
                    </td>
                    <td>
                        {{ingestion.date}}
                    </td>
                </tr>
            </tbody>
        </table>    
    </div>
-->
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-sm-offset-3 col-xs-offset-3 col-md-offset-3 col-lg-offset-3">
            <button class="btn btn-default" type="button" ng-click="save()">Save</button>
        </div>
    </div>
</section>
