<section data-ng-controller="SubjectStatusController" class="content">

  <div class="well" style="height:75vh; overflow-y:scroll">
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <button class="btn" style="width:100%" ng-click="filterAll()">All</button>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <button class="btn" style="width:100%" ng-click="filterComplete()">Complete</button>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <button class="btn" style="width:100%" ng-click="filterIncomplete()">Incomplete</button>
      </div>
    </div>
    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>Subject ID</th>
    			<th>Reader ID</th>
    			<th>Group</th>
    			<th>Status</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr ng-repeat="subject in subjects">
    			<td><button class="btn" style="background:transparent" ui-sref="subject-info">{{subject.subjectID}}</button></td>
    			<td>{{subject.readerID}}</td>
    			<td>{{subject.studyGroupName}}</td>
    			<td>{{subject.undefined}}</td>
    		</tr>
    	</tbody>
    </table>
  </div>
</section>