section.content(data-ng-controller="HomeController")
	.row
		div(class="well col-md-8 col-sm-8 col-xs-8 col-lg-8 col-sm-offset-2 col-xs-offset-2 col-md-offset-2 col-lg-offset-2")
			button.btn.btn-default.btn-block(ng-repeat="study in studies", ng-click="Current.set_study(2,study)" ui-sref="study-info") {{study}}
	.row
		h4 Current Values
		ul(ng-repeat="(key,value) in states")
			li Current {{key}} : {{value}}
	.row
		h4 Set Values
		input(type="text", name="newStudy.name", ng-model="newStudy.name")
		input(type="text", name="newStudy.id", ng-model="newStudy.id")
		button.btn.btn-default(ng-click="Current.set_study(newStudy.id, newStudy.name)") Set Current Study