section.content(data-ng-controller="HomeController")
	.row
		h4 Current Values
		ul(ng-repeat="(key,value) in states")
			li Current {{key}} : {{value}}
	.row
		h4 Set Values
		input(type="text", name="newStudy", ng-model="newStudy")
		button.btn.btn-default(ng-click="Current.set_study(newStudy)") Set Current Study