section(data-ng-controller="Subject_Search-Controller")
    form#subject_select-form
        div.row
            h4 Subject ID:
            input.form-control(type="text", ng-model="subject_id")
        div.row
            h4 First Name:
            input.form-control(type="text", ng-model="fname")
            h4 Last Name:
            input.form-control(type="text", ng-model="lname")
        input.btn(type="submit", value="Search", ng-click="search()")
    div
        ul
            li(ng-repeat="result in results").row
                span.col SubjectID: {{result.subjectID}} 
                span.col First Name: {{result.firstname}} 
                span.col Last Name: {{result.lastname}}

