extends layouts/default

block banner
    div.row
        img.img-responsive(src="img/brand/eTectLoginLogo.png")
        div
            h1.head eTect eReader Clinical Study

block content
    section(data-ui-view)

block sidebar
